.product i:hover {
  transform: scale(1.3);
}

.pagination .page-link {
  color: black;
}

.pagination .active .page-link {
  background-color: black;
  color: white; /* Change the text color to white for better visibility */
}

.del-icon {
  cursor: pointer;
}
.activediv {
  border: 1px solid black;
  cursor: pointer;
  box-shadow:5px 5px 5px black ;
}

.inactivediv {
  border: 1px solid gray;
  cursor: pointer;
}
